.container {
    @include clearfix;
    margin: 0 auto;
    width: 1130px;
    @media screen and (max-width: 1130px) {
        width: 100%;
    }
}

// btn
.btn{
    padding: 10px 20px;
    border-radius: 3px;
    color: #fff;
    background-color: $theme-color;
    &:hover{
        background-color: darken($theme-color, 10%);
    }
}

// icon
.icon-product-1{
    width: 132px;
    height: 132px;
    background-position: 0 0;
}
.icon-product-2{
    @extend .icon-product-1;
    background-position: -169px 0;
}
.icon-product-3{
    @extend .icon-product-1;
    background-position: 0 -153px;
}
.icon-product-4{
    @extend .icon-product-1;
    background-position: -168px -153px;
}
.icon-pre{
    width: 8px;
    height: 15px;
    background-position: 0 -304px;
}
.icon-next{
    @extend .icon-pre;
    background-position: -41px -304px;
}
.icon-stamp{
    width: 70px;
    height: 70px;
    background-position: -93px -302px;
}
.icon-carousel-pre{
    width: 8px;
    height: 16px;
    background-position: 0 -372px;
}
.icon-carousel-next{
    @extend .icon-carousel-pre;
    background-position: -28px -372px;
}

a{
    &:hover{
        .icon-pre{
            background-position: 0 -336px;
        }
        .icon-next{
            background-position: -41px -336px;
        }
    }
}

.header {
    @include clearfix;
    padding: 15px 0;
    .logo {
        display: block;
        margin-top: 6px;
        width: 190px;
        height: 45px;
        img{
            width: 100%;
        }
    }
    @media screen and (max-width: 800px){
        position: relative;
        padding: 10px;
        .logo{
            width: 150px;
            height: 40px;
        }
    }
}

.hot-line{
    text-align: right;
    font-size: 12px;
    color: #999;
    em{
        font-size: 16px;
        font-weight: bold;
        color: $theme-color;
    }
    @media screen and (max-width: 800px) {
        display: none;
    }
}

.collapse {
    position: relative;
    .touch {
        display: none;
    }
    @media screen and (max-width: 800px){
        margin-top: 15px;
        .touch{
            position: relative;
            display: block;
            border: #555 solid;
            border-width: 2px 0;
            width: 22px;
            height: 10px;
            &:after{
                position: absolute;
                top: 4px;
                width: 100%;
                height: 2px;
                content: '';
                background-color: #555;
            }
        }
        .timber{
            display: none;
        }
    }
}

.nav {
    @include clearfix;
    margin-top: 14px;
    li {
        float: left;
        margin-left: 60px;
        a {
            position: relative;
            font-size: 16px;
            color: #000;
            &:hover{
                color: $theme-color;
            }
        }
        &.active {
            a {
                color: $theme-color;
            }
        }
    }
    @media screen and (max-width: 800px){
        display: none;
        position: absolute;
        top: 35px;
        right: -10px;
        z-index: 100;
        margin-top: 0;
        border-top: #eee solid 1px;
        background-color: rgba(255, 255, 255, .8);
        li{
            width: 100%;
            margin-left: 0;
            padding: 10px 0;
            a{
                display: block;
                text-align: center;
            }
            &.active {
                a {
                    color: $theme-color;
                    &:after {
                        position: absolute;
                        content: '';
                        bottom: -7px;
                        left: 50%;
                        margin-left: -3px;
                        border-radius: 50%;
                        width: 6px;
                        height: 6px;
                        background-color: $theme-color;
                    }
                }
            }
        }
    }
}

.carousel{
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .7);
    .pre,
    .next{
        position: absolute;
        top: 50%;
        z-index: 1000;
        display: inline-block;
        margin-top: -55px;
        width: 30px;
        height: 110px;
        line-height: 110px;
        text-align: center;
        background-color: rgba(0, 0, 0, .7);
        &:hover{
            background-color: rgba(0, 0, 0, .9);
        }
    }
    .pre{
        left: 0;
    }
    .next{
        right: 0;
    }
    @media screen and (max-width: 800px){
        .pre,
        .next{
            display: none;
        }
    }
}
.carousel-body{
    width: 100%;
    height: 470px;
    .item{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        &.active{
            z-index: 999;
        }
    }
    .banner-1{
        background: url("../images/banner-1_bg.jpg") no-repeat center;
    }
    .banner-2{
        background-color: #ff3300;
    }
    .banner-3{
        background-color: #33ffff;
    }
    @media screen and (max-width: 800px){
        height: 310px;
        .banner-1{
            background-size: 530%;
        }
    }
}
.carousel-dot{
    position: absolute;
    right: 50%;
    bottom: 20px;
    z-index: 1000;
    margin-right: -565px;
    a{
        display: inline-block;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: #fff;
        &.active{
            background-color: $theme-color;
        }
    }
    @media screen and (max-width: 800px){
        right: 20px;
        margin-right: 0;
    }
}

.floor{
    padding: 50px 0;
    .hd{
        padding-bottom: 30px;
        h1{
            display: inline-block;
            border-bottom: $theme-color solid 2px;
            padding-bottom: 7px;
            line-height: 45px;
            font-size: 26px;
        }
        .btn{
            margin-top: 6px;
        }
    }
    &.gray-bg{
        background-color: #f8f8f8;
    }
    &.transparent-bg{
        background-color: rgba(0, 0, 0, .3);
    }
    @media screen and (max-width: 1170px){
        padding-left: 20px;
        padding-right: 20px;
    }
    @media screen and (max-width: 800px){
        padding: 25px;
    }
}

.media{
    @include clearfix;
    margin: 0 -20px;
    .item{
        float: left;
        margin-bottom: 20px;
        width: 33.3%;
        img{
            width: 100%;
        }
        .title{
            display: inline-block;
            margin: 10px 0;
            font-size: 16px;
            color: #000;
            &:hover{
                color: $theme-color;
            }
        }
        p{
            color: #999;
        }
    }
    .shell{
        padding: 0 20px;
    }
    @media screen and (max-width: 800px){
        .item{
            float: none;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            max-width: 450px;
        }
    }
}

.control{
    margin-top: 15px;
    a{
        display: inline-block;
        border: #e9e9e9 solid 2px;
        padding: 0 6px;
        height: 20px;
        i{
            margin-top: 2px;
        }
        &:hover{
            border-color: #666;
        }
    }
}

.product{
    position: relative;
    width: 100%;
    height: 158px;
    ul{
        @include clearfix;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        width: 100%;
        li{
            float: left;
            width: 25%;
            opacity: 0;
            text-align: center;
            a{
                display: inline-block;
                font-size: 16px;
                font-weight: bold;
                color: #000;
                &:hover{
                    color: $theme-color;
                }
            }
        }
        &.active{
            display: block;
        }
    }
    @media screen and (max-width: 750px){
        height: 376px;
        ul{
            li{
                margin-bottom: 30px;
                width: 50%;
            }
        }
    }
    @media screen and (max-width: 400px){
        i{
            -webkit-transform: scale(.8);
            -moz-transform: scale(.8);
            -ms-transform: scale(.8);
            -o-transform: scale(.8);
            transform: scale(.8);
        }
    }
}

.intr{
    color: #fff;
    h1{
        display: inline-block;
        border-bottom: $theme-color solid 2px;
        padding-bottom: 7px;
        line-height: 45px;
        font-size: 26px;

    }
    p{
        margin: 20px 0 30px;
        width: 600px;
        line-height: 25px;
    }
    a{
        display: inline-block;
        border: #fff solid 2px;
        padding: 10px 20px 10px 30px;
        border-radius: 3px;
        color: #fff;
        &:hover{
            border-color: $theme-color;
            color: $theme-color;
        }
    }
    @media screen and (max-width: 650px){
        p{
            width: 100%;
        }
    }
}

.effect{
    position: relative;
    display: block;
    img{
        width: 100%;
        vertical-align: middle;
    }
    .info{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        text-align: center;
        background-color: rgba(0, 0, 0, .5);
    }
    .centre{
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        p{
            margin-bottom: 10px;
            font-size: 16px;
            color: #fff;
        }
    }
    .btn{
        &:hover{
            background-color: lighten($theme-color, 5%);
        }
    }
}

.question{
    margin: 0 -20px;
    padding-bottom: 60px;
    overflow: hidden;
    .screen{
        @include clearfix;
        width: 9999px;
    }
    .qa{
        float: left;
        width: 585px;
    }
    .shell{
        position: relative;
        margin: 0 20px;
        border: #ececec solid 1px;
        padding: 20px;
    }
    h3{
        padding-bottom: 10px;
        font-size: 16px;
    }
    p{
        color: #999;
    }
}
.stamp{
    position: absolute;
    left: 20px;
    bottom: -60px;
    font-size: 16px;
    i{
        margin-right: 10px;
        vertical-align: -24px;
    }
}

.footer{
    .top{
        padding: 40px 0 20px;
        background-color: #f4f4f4;
    }
    .qrcode{
        float: left;
        width: 178px;
        text-align: center;
        img{
            width: 100%;
        }
    }
    .item{
        float: left;
        margin-left: 170px;
        width: 306px;
        h2{
            position: relative;
            margin-bottom: 30px;
            padding-bottom: 25px;
            border-bottom: $theme-color solid 2px;
            &:after{
                position: absolute;
                left: 40px;
                bottom: -2px;
                content: '';
                width: 20px;
                height: 2px;
                background-color: #f4f4f4;
            }
        }
        p{
            line-height: 30px;
            color: #999;
        }
        a{
            margin-right: 60px;
            color: #999;
            &:hover{
                color: $theme-color;
            }
        }
    }
    .bottom{
        padding: 30px 0;
        font-size: 12px;
        text-align: center;
        color: #999;
    }
    h2{
        padding-bottom: 30px;
        font-size: 18px;
        color: $theme-color;
    }
    @media screen and (max-width: 650px){
        margin-top: 20px;
        .top{
            padding: 40px 10px 25px;
        }
        .qrcode{
            width: 100%;
            text-align: center;
            img{
                width: 178px;
            }
        }
        .item{
            margin-left: 0;
            width: 100%;
            text-align: center;
            h2{
                margin: 30px 0 20px;
            }
            a{
                margin: 0 30px;
            }
        }
    }
}

.crumbs{
    border-bottom: #e9e9e9 solid 1px;
    line-height: 50px;
    font-size: 12px;
    color: #999;
    a{
        color: #999;
        &:hover{
            color: $theme-color;
        }
    }
    span{
        color: #333;
    }
    em{
        margin: 0 10px;
    }
    @media screen and (max-width: 800px){
        padding: 0 25px;
    }
}

.channel-box{
    @media screen and (max-width: 800px){
        padding: 30px 25px;
    }
}
.channel-box__r{
    float: right;
    border-left: #e9e9e9 solid 1px;
    padding: 40px 0 60px 40px;
    width: 799px;
    .content{
        margin-top: 40px;
        h3{
            margin: 20px 0;
        }
        p{
            margin: 20px 0;
            color: #999;
        }
    }
    @media screen and (max-width: 800px){
        border-left: 0;
        width: 100%;
        padding: 0 0 60px 0;
    }
}
.side-nav{
    padding: 40px 40px 0 0;
    width: 250px;
    h3{
        padding-bottom: 20px;
    }
    a{
        position: relative;
        display: block;
        line-height: 45px;
        color: #999;
        &:hover{
            color: $theme-color;
        }
        &.active{
            border: #e9e9e9 solid;
            border-width: 1px 0;
            color: $theme-color;
            &:after{
                position: absolute;
                top: 20px;
                right: 5px;
                content: '';
                border: $theme-color solid;
                border-width: 1px 1px 0 0;
                width: 7px;
                height: 7px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }
    @media screen and (max-width: 800px){
        padding: 0;
        width: 100%;
    }
}

.screen{
    .box{
        img{
            width: 100%;
            vertical-align: middle;
        }
    }
    .list{
        @include clearfix;
        margin-left: -20px;
        padding-top: 40px;
        li{
            float: left;
            width: 20%;
            a{
                display: block;
                margin-left: 20px;
                img{
                    width: 100%;
                    vertical-align: middle;
                }
            }
        }
    }
    @media screen and (max-width: 800px){
        .list{
            padding-top: 30px;
        }
    }
}